<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}</style>

</head>
<body>
<h1>WELCOME TO TOKEGEN</h1>
<button type="button" class="cancelbtn"><a href="{{url_for('login')}}">Register/Log In</a></button>
<button color="blue" width="50%"><a href="{{url_for('register')}}">Create new account</a></button>
</body>
</html>