<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGN UP</title>
</head>
<body>
 <header>
        <h1>Sign in</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="login/login-access.php" method="post">
            <div class="form_div">
                <label>Login:</label>
                <input class="field_class" name="username" type="text" placeholder="" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="">
                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Submit</button>
            </div>
            <div class="info_div">
                <p>No Account?<a href="register/reg-form.php">Register here</a> Or sign in with <a href="">Google</a></p>
            </div>
        </form>
    </main>
  
</body>
</html>